@font-face {
  font-family: oswald;
  src: url(../style/fonts/Oswald/Oswald-VariableFont_wght.ttf);
}

@font-face {
  font-family: jakarta;
  src: url(../style/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-ExtraBold.ttf);
}

@font-face {
  font-family: passionone;
  src: url(../style/fonts/Passion_One/PassionOne-Regular.ttf);
}

:root {
  --primary: #00569C;
  --lightblue: #e6f0ff;
  --text: #000000;
  --background: #ffffff;
  --blueTextColor: #00569C;
  --grayTextColor: #737373;
  --grayBackColor: #D9D9D9;
  --navColor: #008573;
  --buttonColor: #C2464B;
  --buttonColorlight: rgba(194, 70, 75, 0.58);
  --hintColor: #FFFB00;
}

a {
  text-decoration: none;
  color: black;
}

body {
  box-sizing: border-box;
  user-select: none;
  overflow: hidden;
  background-image: url(../img/natinalrat-filter.png);
  background-size: 100%;
  background-position-y: 15%;
  background-repeat: no-repeat;
}

#maintext {

  h2 {
    margin-top: 5vh;
    text-align: center;
    font-family: oswald;
    font-weight: bold;
    color: white;
    font-size: 11vh;
  }

  p {
    margin-top: -5vh;
    font-size: 3vh;
    text-align: center;
    color: white;
    font-weight: bold;
  }

  #gameStartButton {
    background-color: var(--blueTextColor);
    font-family: oswald;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50vw;
    width: 15vw;
    height: 10vh;
    margin-top: 7vh;
    margin-right: auto;
    margin-left: auto;

    p {
      font-size: 3vh;
      font-weight: bold;
      color: white;
      margin: 1vw;
      letter-spacing: 0.05vw;
    }
  }

  #options {
    display: flex;
    justify-content: center;
    margin-top: 8vh;
    gap: 20vw;

    .Mode {
      height: 20vh;
      width: 20vw;
      background-color: #00569c99;
      border-radius: 2vw;

      h3 {
        font-family: oswald;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 3.5vh;
      }

      p {
        margin-top: -2vh;
        text-align: center;
        color: white;
      }

    }

    #speedGuess {
      background-color: #d9d9d999;
    }
  }
}

/*------------------NAV---------------------*/

nav {
  z-index: 200;
  display: flex;
  justify-content: flex-end;
  margin-top: -14vh;

  #home {
    background-color: var(--grayBackColor);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vh;
    height: 25vh;
    border-radius: 12.5vh;
    margin-right: 2vw;

    p {
      font-weight: bolder;
      font-size: 2.5vh;
      margin-bottom: -9vh;
    }

    #navbuttonhomeicon {
      height: 3vh;
      margin-bottom: -11vh;
      margin-right: 0.4vw;
    }
  }

  #login {
    background-color: var(--grayBackColor);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vh;
    height: 25vh;
    border-radius: 12.5vh;
    margin-right: 2vw;

    p {
      font-weight: bolder;
      font-size: 2.5vh;
      margin-bottom: -9vh;
    }

    #navbuttonloginicon {
      height: 3vh;
      margin-bottom: -11vh;
      margin-right: 0.4vw;
    }
  }

  #game {
    background-color: var(--blueTextColor);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vh;
    height: 25vh;
    border-radius: 12.5vh;
    margin-right: 2vw;

    p {
      font-weight: bolder;
      font-size: 2.5vh;
      margin-bottom: -9vh;
    }

    #navbuttongameicon {
      height: 3vh;
      margin-bottom: -11vh;
      margin-right: 0.4vw;
    }
  }

  #settings {
    background-color: var(--grayBackColor);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vh;
    height: 25vh;
    border-radius: 12.5vh;
    margin-right: 2vw;

    p {
      font-weight: bolder;
      font-size: 2.5vh;
      margin-bottom: -9vh;
    }

    #navbuttonsettingsicon {
      height: 3vh;
      margin-bottom: -11vh;
      margin-right: 0.4vw;
    }
  }

}